In [1]:
import pandas as pd

#data only availible for fiscal year (2020 - 2021) 

#there may be new schools not represented - possibly find data base of new schools

#state level

df = pd.read_excel('data/stfis21_1a.xlsx')

df = pd.DataFrame(df)

c:\Users\damie\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [2]:
df.head()
headers = df.columns.values

In [3]:
print(headers)

['SURVYEAR' 'FIPS' 'STABR' 'STNAME' 'R1A' 'R1B' 'R1C' 'R1D' 'R1E' 'R1F'
 'R1G' 'R1H' 'R1I' 'R1J' 'R1K' 'R1L' 'R1M' 'R1N' 'STR1' 'R2' 'R3' 'R4A'
 'R4B' 'R4C' 'R4D' 'STR4' 'R5' 'TR' 'E11' 'E12' 'E13' 'E14' 'E15' 'E16'
 'E17' 'E18' 'STE1' 'E11A' 'E11B' 'E11C' 'E11D' 'E2' 'E212' 'E213' 'E214'
 'E215' 'E216' 'E217' 'E218' 'TE21' 'E222' 'E223' 'E224' 'E225' 'E226'
 'E227' 'E228' 'TE22' 'E232' 'E233' 'E234' 'E235' 'E236' 'E237' 'E238'
 'TE23' 'E242' 'E243' 'E244' 'E245' 'E246' 'E247' 'E248' 'TE24' 'E252'
 'E253' 'E254' 'E255' 'E256' 'E257' 'E258' 'TE25' 'E262' 'E263' 'E264'
 'E265' 'E266' 'E267' 'E268' 'TE26' 'STE22' 'STE23' 'STE24' 'STE25'
 'STE26' 'STE27' 'STE28' 'STE2T' 'E3A11' 'E3A12' 'E3A13' 'E3A14' 'E3A2'
 'E3A16' 'E3A1' 'E3B11' 'E3B12' 'E3B13' 'E3B14' 'E3B2' 'E3B16' 'E3B1'
 'STE3' 'E4A1' 'E4A2' 'E4B1' 'E4B2' 'E4C1' 'E4C2' 'E4D' 'E4E1' 'E4E2'
 'STE4' 'TE5' 'E61' 'E62' 'E63' 'STE6' 'E7A1' 'E7A2' 'STE7' 'E81' 'E82'
 'E9A' 'E9B' 'E9C' 'E9D' 'E91' 'STE9' 'TE10' 'TE11' 'X12C' 'X12D' 'X12E'
 'X12F' 'TX12' 'NCE13' 'ADA' 'A14A' 'A14B' 'PPE15' 'MEMBR20' 'CE1' 'CE2'
 'AR1' 'AR1A' 'AR1B' 'AR2' 'AR2A' 'AR3' 'AR6' 'AR6A' 'AR7' 'AR8' 'AE1'
 'AE2' 'AE3' 'AE4' 'AE5' 'AE6' 'AE7' 'AE8']

In [8]:
direc = pd.read_csv('data/ccd_sch_029_2223_w_1a_083023.csv')
df_direc = pd.DataFrame(direc)
df_direc.head()

C:\Users\damie\AppData\Local\Temp\ipykernel_11060\3358612268.py:1: DtypeWarning: Columns (14,15,22,39,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  direc = pd.read_csv('data/ccd_sch_029_2223_w_1a_083023.csv')

,SCHOOL_YEAR,FIPST,STATENAME,ST,SCH_NAME,LEA_NAME,STATE_AGENCY_NO,UNION,ST_LEAID,LEAID,...,G_10_OFFERED,G_11_OFFERED,G_12_OFFERED,G_13_OFFERED,G_UG_OFFERED,G_AE_OFFERED,GSLO,GSHI,LEVEL,IGOFFERED
0,2022-2023,1,ALABAMA,AL,Albertville Middle School,Albertville City,1,NaN,AL-101,100005,...,No,No,No,No,No,No,07,08,Middle,As reported
1,2022-2023,1,ALABAMA,AL,Albertville High School,Albertville City,1,NaN,AL-101,100005,...,Yes,Yes,Yes,No,No,No,09,12,High,As reported
2,2022-2023,1,ALABAMA,AL,Albertville Intermediate School,Albertville City,1,NaN,AL-101,100005,...,No,No,No,No,No,No,05,06,Middle,As reported
3,2022-2023,1,ALABAMA,AL,Albertville Elementary School,Albertville City,1,NaN,AL-101,100005,...,No,No,No,No,No,No,03,04,Elementary,As reported
4,2022-2023,1,ALABAMA,AL,Albertville Kindergarten and PreK,Albertville City,1,NaN,AL-101,100005,...,No,No,No,No,No,No,PK,KG,Elementary,As reported

In [9]:
print(df_direc.columns.values)

['SCHOOL_YEAR' 'FIPST' 'STATENAME' 'ST' 'SCH_NAME' 'LEA_NAME'
 'STATE_AGENCY_NO' 'UNION' 'ST_LEAID' 'LEAID' 'ST_SCHID' 'NCESSCH' 'SCHID'
 'MSTREET1' 'MSTREET2' 'MSTREET3' 'MCITY' 'MSTATE' 'MZIP' 'MZIP4'
 'LSTREET1' 'LSTREET2' 'LSTREET3' 'LCITY' 'LSTATE' 'LZIP' 'LZIP4' 'PHONE'
 'WEBSITE' 'SY_STATUS' 'SY_STATUS_TEXT' 'UPDATED_STATUS'
 'UPDATED_STATUS_TEXT' 'EFFECTIVE_DATE' 'SCH_TYPE_TEXT' 'SCH_TYPE'
 'RECON_STATUS' 'OUT_OF_STATE_FLAG' 'CHARTER_TEXT' 'CHARTAUTH1'
 'CHARTAUTHN1' 'CHARTAUTH2' 'CHARTAUTHN2' 'NOGRADES' 'G_PK_OFFERED'
 'G_KG_OFFERED' 'G_1_OFFERED' 'G_2_OFFERED' 'G_3_OFFERED' 'G_4_OFFERED'
 'G_5_OFFERED' 'G_6_OFFERED' 'G_7_OFFERED' 'G_8_OFFERED' 'G_9_OFFERED'
 'G_10_OFFERED' 'G_11_OFFERED' 'G_12_OFFERED' 'G_13_OFFERED'
 'G_UG_OFFERED' 'G_AE_OFFERED' 'GSLO' 'GSHI' 'LEVEL' 'IGOFFERED']

In [12]:

from sas7bdat import SAS7BDAT
with SAS7BDAT('data/ccd_sch_029_2223_w_1a_083023.sas7bdat') as f:
    df_bdat = f.to_data_frame()
print(df_bdat.head(5))

[ccd_sch_029_2223_w_1a_083023.sas7bdat] header length 65536 != 8192

  SCHOOL_YEAR FIPST STATENAME  ST                           SCH_NAME  \
0   2022-2023    01   ALABAMA  AL          Albertville Middle School
1   2022-2023    01   ALABAMA  AL            Albertville High School
2   2022-2023    01   ALABAMA  AL    Albertville Intermediate School
3   2022-2023    01   ALABAMA  AL      Albertville Elementary School
4   2022-2023    01   ALABAMA  AL  Albertville Kindergarten and PreK

           LEA_NAME STATE_AGENCY_NO UNION ST_LEAID    LEAID  ... G_10_OFFERED  \
0  Albertville City              01         AL-101  0100005  ...           No
1  Albertville City              01         AL-101  0100005  ...          Yes
2  Albertville City              01         AL-101  0100005  ...           No
3  Albertville City              01         AL-101  0100005  ...           No
4  Albertville City              01         AL-101  0100005  ...           No

  G_11_OFFERED G_12_OFFERED G_13_OFFERED G_UG_OFFERED G_AE_OFFERED GSLO GSHI  \
0           No           No           No           No           No   07   08
1          Yes          Yes           No           No           No   09   12
2           No           No           No           No           No   05   06
3           No           No           No           No           No   03   04
4           No           No           No           No           No   PK   KG

        LEVEL    IGOFFERED
0      Middle  As reported
1        High  As reported
2      Middle  As reported
3  Elementary  As reported
4  Elementary  As reported

[5 rows x 65 columns]

In [15]:
print(df_bdat.columns.values)

['SCHOOL_YEAR' 'FIPST' 'STATENAME' 'ST' 'SCH_NAME' 'LEA_NAME'
 'STATE_AGENCY_NO' 'UNION' 'ST_LEAID' 'LEAID' 'ST_SCHID' 'NCESSCH' 'SCHID'
 'MSTREET1' 'MSTREET2' 'MSTREET3' 'MCITY' 'MSTATE' 'MZIP' 'MZIP4'
 'LSTREET1' 'LSTREET2' 'LSTREET3' 'LCITY' 'LSTATE' 'LZIP' 'LZIP4' 'PHONE'
 'WEBSITE' 'SY_STATUS' 'SY_STATUS_TEXT' 'UPDATED_STATUS'
 'UPDATED_STATUS_TEXT' 'EFFECTIVE_DATE' 'SCH_TYPE_TEXT' 'SCH_TYPE'
 'RECON_STATUS' 'OUT_OF_STATE_FLAG' 'CHARTER_TEXT' 'CHARTAUTH1'
 'CHARTAUTHN1' 'CHARTAUTH2' 'CHARTAUTHN2' 'NOGRADES' 'G_PK_OFFERED'
 'G_KG_OFFERED' 'G_1_OFFERED' 'G_2_OFFERED' 'G_3_OFFERED' 'G_4_OFFERED'
 'G_5_OFFERED' 'G_6_OFFERED' 'G_7_OFFERED' 'G_8_OFFERED' 'G_9_OFFERED'
 'G_10_OFFERED' 'G_11_OFFERED' 'G_12_OFFERED' 'G_13_OFFERED'
 'G_UG_OFFERED' 'G_AE_OFFERED' 'GSLO' 'GSHI' 'LEVEL' 'IGOFFERED']